:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: gayscale;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #000b15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 1vw;
  height: 1vw;
  background: #ffffff;
}

.swiper-pagination-bullet-active {
  background: #0070d4;
}

.swiper-slide img {
  height: auto;
  object-fit: contain;
}

@media only screen and (max-width: 992px) {
  .swiper-slide {
    display: block;
  }

  .swiper-pagination-bullet {
    width: 1.5vw;
    height: 1.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .swiper-pagination-bullet {
    width: 1.5vh;
    height: 1.5vh;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000b15;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: rgb(0 112 212 / 80%);
  border: 1px solid rgb(0 112 212 / 0%);
  transition: border-color 0.5s;
}
